XML_DTD_15-20/e17.dtd

<!ELEMENT inventario (lapiz | cuaderno | boligrafo)*>
<!ELEMENT lapiz (dureza?)>
<!ELEMENT cuaderno (numhojas, estilo)>
<!ELEMENT boligrafo (precio, color?)>
<!ELEMENT dureza (#PCDATA)>
<!ELEMENT numhojas (#PCDATA)>
<!ELEMENT estilo (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT color (#PCDATA)>